NODE_ENV=development
API_PORT=3001

API_JWT_SECRET=

API_NAVER_CLIENT_ID=
API_NAVER_CLIENT_SECRET=
API_NAVER_CALLBACK_URL=http://localhost:3001/auth/naver/callback

API_KAKAO_CLIENT_ID=
API_KAKAO_CLIENT_SECRET=
API_KAKAO_CALLBACK_URL=http://localhost:3001/auth/kakao/callback

API_GOOGLE_CLIENT_ID=
API_GOOGLE_CLIENT_SECRET=
API_GOOGLE_CALLBACK_URL=http://localhost:3001/auth/google/callback

API_FRONTEND_URL=http://localhost:3000

DATABASE_URL=

API_SMTP_HOST=smtp.example.com
API_SMTP_PORT=587
API_SMTP_USER=
API_SMTP_PASS=
API_EMAIL_FROM="Forest of Books <no-reply@example.com>"
